@page "{id:int}"
@model PassDemo.Ui.Pages.Addresses.DetailsModel
@{
    ViewData["Title"] = "Address Details";
}

<h1>Address Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Address.Name</dd>

        <dt class="col-sm-3">Surname</dt>
        <dd class="col-sm-9">@Model.Address.Surname</dd>
        
        <dt class="col-sm-3">Street</dt>
        <dd class="col-sm-9">@Model.Address.Street</dd>
        
        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">@Model.Address.City</dd>
        
        <dt class="col-sm-3">State</dt>
        <dd class="col-sm-9">@Model.Address.State</dd>
        
        <dt class="col-sm-3">Zip Code</dt>
        <dd class="col-sm-9">@Model.Address.ZipCode</dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-page="./Edit" asp-route-id="@Model.Address.Id" class="btn btn-primary">Edit</a>
    <a asp-page="/Index" class="btn btn-secondary">Back to List</a>
</div>
